{
    "type": "mongodb",
    "host": "localhost",
    "port": 27017,
    "username": "username",
    "password": "password",
    "database": "workout-scheduler",
    "entities": ["src/**/**.entity{.ts,.js}"],
    "synchronize": true,
    "useUnifiedTopology": true
  }